coremods
texturepacks
screenshots
patchouli_books
crash-reports
logs
saves
usercache*
usernamecache*
modernfix
fancymenu_data
data
xaero
icon.png
mods/.index
crash-reports
emi.json
authlib-injector*
pathcouli_data*
options.txt
config/oculus.properties
config/fabric/indigo-renderer.properties
